<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    <array>
<!--        이거 이름 이래도 되나...? 맞는 이름이어야되는거 아닌가 그런데 잘 되네. LiveActvity에 의한 backgroundTask는 알아서 잘 찾아가나 봄. 수동으로 BGTask 추가하고 관리하면 여기에 추가하면 될듯-->
    </array>
</dict>
</plist>
